main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5em auto;
    width: 80%;
    position: relative;
}
.prodgallery {
  width: 45%;
  position: relative;
}
.prod{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.thumbnail{
  width: 100%;
}
.thumbnail .swiper {
  overflow: visible !important;
}
.thumbnail {
  overflow: visible !important;
}
.thumbnailwrapper{
  position: relative;
  margin-top: 2em;
  border-radius: 12px;
}
.thumbnailwrapper:after, .lb-thumbnailwrapper:after{
   content:'';
   width:100%; 
   height:100%;
   position: absolute;
   top:0; 
   left:0;
   background:hsla(25, 100%, 94%, 0.823);
   opacity:0;
   transition: all 0.2s;
   border-radius: 10px;
} 
.imgthumbnail{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.thumbnailwrapper:hover:after, .lb-thumbnailwrapper:hover:after{
  opacity: 1;
}
.swiper-slide-thumb-active::after {
  opacity:1;
  outline: solid 2px hsl(26, 100%, 55%);
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}
.prodinfo{
  flex-basis: 43%;
  width: 100%;
}
.prodinfo h1, .prodinfo p{
  color: rgb(118, 113, 113);
  line-height: 26px;
  margin: 0.2em 0 0.5em;
  font-size: 16px;
}
.prodinfo p:first-of-type{
  margin: 0 0 1em;
}
.prodinfo h1{
  letter-spacing: 2px;
}
.price{
  padding-top: 0;
  font-weight: bold;
  text-decoration: line-through;
}
p .price{
  margin: 0;
}
.flexprice{
  margin: 0;
}
.cartactions{
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
}
.qtydetail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(220, 14%, 75%, 0.307);
  width: 30%;
  padding: 1em;
  border-radius: 10px;
  font-weight: bold;
}
.carticon{
  margin: 0 1em;
}
.carticon path{
  fill: rgb(0, 0, 0);
}
.addtocart{
  width: 65%;
  border: none;
  border-radius: 10px;
  padding: 1em;
  background-color: hsl(26, 100%, 55%);
  font-size: 0.8rem;
  font-weight: bold;
  
}
.addtocart:hover{
  background-color: hsla(26, 100%, 55%, 0.766);
}
.actionicon:hover path{
  fill: hsl(25, 94%, 81%);
}
.bonus{
  background-color: black;
  color: #fff;
  padding: 0.3em 0.5em 0.2em;
  margin-left: 0.5em;
  font-size: 1rem;
  border-radius: 10px;
}
.prodinfo h3{
  font-size: 1.6rem;
}
:root {
  --swiper-navigation-size: 36px;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: 35%;
  height: 35%;
  stroke: black;
  stroke-width: 2;
}
.swiper-button-next,
.swiper-button-prev {
  color: black;   
  background-color: white;
  border-radius: 50%;
}
.swiper-button-prev {
  left: 16px !important;
}
.swiper-button-next {
  right: 16px !important;
}

@media (width >= 560px) and (width <= 700px){
  .prodinfo{
    font-size-adjust: 0.4;
  }
  .prodinfo p, .prodinfo h1{
    line-height: 16px;
  }
  .qtydetail img{
    width: 10px;
  }
  .qtydetail, .addtocart{
    padding: 0.5em;
  }
  .addtocart{
    font-size-adjust: 0.4;
  }
  .actionicon:first-child{
    padding-top: 0.3em;
  }
  .actionicon{
    width: 15px;
    height: 15px;
  }
}
@media (max-width:560px){
  main{
    flex-direction: column;
    margin: 0;
    width: 100%;
  }
  .prodgallery{
    width: 100%;
  }
  .prod{
    border-radius: 0;
    width: 100%;
  }
  .prodinfo{
    padding: 1.5em;
  }
  .thumbnail{
    display: none;
  }
  .cartactions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  .qtydetail{
  width: 100%;
  }
  .addtocart {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 4em;
  box-shadow: 2px 20px 20px hsl(25, 100%, 90%);
  }
  .flexprice{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
  }
} 


