@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Nanum+Myeongjo&display=swap');
.nanum-myeongjo-bold {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  box-sizing: border-box;  
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
  margin: 0 0.5em;
  box-sizing: border-box;
  border-bottom: solid 1px rgb(233, 226, 226);
}
.navcontainer{
  display: flex;
  align-items: center;
}
.navmenu {
  padding-right: 1em;
}
.menubar{
  display: none;
}
h2{
  font-size: 2rem;
  font-weight: 700;
  display: inline-flex;
}
ul{
  list-style: none;
  display: flex;
  padding: 0;
}

li:hover{
  background-color: hsl(25, 100%, 94%);
  cursor: pointer;
}
nav li{
  font-weight: lighter;
  color: gray;
  margin: 0.25em 0 0 2em;
}
.icons {
  text-align: right;
}
.avatar{
  width: 40px;
  height: 40px;
  margin: 0 0 0 2em;
}
.icons img:first-child{
  padding-bottom: 0.5em;
}
img:hover{
  transform: scale(1.2);
}


@media (max-width:720px){
  .menu{
    display: none;
  }
  header{
    padding: 1em;
    margin: 0;
  }
  .menubar, h2{
    display: inline-block;
  }
  .menubar{
    margin-right: 1em;
  }
  .avatar{
    width: 30px;
    height: 30px;
  }
  .icons{
    padding-top: 0.25em;
  }
  .icons img:first-child{
    padding-bottom: 0.25em;
  }
  .mobilemenu{
    display: list-item;
    position: fixed;
    width: 150px;
    margin-top: 2.25em;
    background: hsl(25, 82%, 89%);
    height: 100%;
    left: 0;
    box-shadow: 0 0 5px hsla(24, 64%, 89%, 0.386);
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
  }
  .mobilemenu.active {
    transform: translateX(0);
  } 
  nav li{
    padding: 1em ;
    margin: 0;
    color: black;
  }
} 