header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 0.5em;
  box-sizing: border-box;
  border-bottom: solid 1px rgb(233, 226, 226);
  position: relative;
}
.navcontainer{
  display: flex;
  align-items: center;
}
.menubar{
  display: none;
}
ul{
  list-style: none;
  display: flex;
  padding: 0;
  padding-left: 1em;
}
li{
  border-bottom: solid 4px transparent;
  padding: 1.7em 0.5em;
  color: gray;
  margin: 0.25em 0 0 1em;
}
li:hover{
  border-bottom: solid 4px hsla(26, 100%, 55%, 0.766);
  color: rgba(0, 0, 0, 0.714);
  transform: scaleY(1.1);
  cursor: pointer;
}
.icons {
  text-align: right;
}
.cart{
  margin-bottom: 0.2em;
}
.avatar{
  width: 30px;
  height: 30px;
  margin: 0 0 0 2em;
  
}
.cart:hover{
  transform: scale(1.1);
}
.cart:hover path{
  fill: black;
}
.avatar:hover{
  border-radius: 50%;
  border: solid 2px hsla(26, 100%, 55%, 0.766);
}
.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.675); 
  z-index: 2; 
  opacity: 1; 
}
.closeicon{
  opacity: 0;
}
.cart-dropdown{
  position: absolute;
  top: 80px;
  right: -50px;
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.15);
  z-index: 5;
  width: 25em;
  height: min(320px, 30vh);
  overflow-y: scroll;
}
h4{
  border-bottom: solid 1px rgb(233, 226, 226);
  padding: 1em;
  margin: 0;
}
.cart-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: rgb(118, 113, 113);
}
.emptycart{
  padding: 6em;
}
.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125em;
  line-height: 26px;
  width: 90%;
  padding: 2em 0 0;
}
.cart-item p{
  margin: 0;
}
.cart-item
.cart-prodthumbnail{
  width: 60px;
  height: 60px;
  border-radius: 5px;
  object-fit: cover;
}
.buttondiv{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.checkoutbtn{
  width: 90%;
  border: none;
  border-radius: 10px;
  padding: 1em;
  background-color: hsl(26, 100%, 55%);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 2em 0;
}
.totalprice{
  margin-left: 0.5em;
  font-weight: bold;
  color: black;
}
@media (min-width: 701px) and (max-width: 1300px){
  .cart-dropdown{
    right: 10px;
    width: 23em;
  }
}
@media (min-width: 560px) and (max-width:700px){
  header{
    font-size-adjust: 0.35;
  }
  .avatar {
    width: 20%;
    height: 20%;
  }
  li{
    padding: 2em 0em;
  }
  .cart-dropdown{
    right: 5px;
    width: 18em;
  }
}

@media (max-width:560px){
   .menu{
    display: none;
  }
  header{
    padding: 1em;
    margin: 0;
    position: relative;
  }
  .menubar, h2{
    display: inline-block;
  }
  .menubar{
    margin-right: 1em;
  }
  .avatar{
    width: 30px;
    height: 30px;
  }
  .icons{
    padding-top: 0.25em;
  }
  .icons img:first-child{
    padding-bottom: 0.25em;
  }
  .mobilemenu{
    display: list-item;
    position: fixed;
    top: 0;
    width: 250px;
    padding: 1em 0 1em 1em;
    background: #fff;
    height: 100%;
    left: 0;
    box-shadow: 0 0 5px hsla(24, 64%, 89%, 0.386);
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in;
  }
  .mobilemenu.active {
    transform: translateX(0);
  }
  nav li{
    padding: 0.5em 0;
    color: rgb(71, 70, 70);
    font-weight: bold;
  }
  nav li:hover{
    border: none;
    color: grey;
    border-right: solid 4px hsla(26, 100%, 55%, 0.766);;
  }
  .closeicon {
    opacity: 1;
    margin: 1em 1em 2em;
  }
  .closeicon:hover path{
    fill: hsl(26, 100%, 55%);
  }
  .cart-dropdown{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    width: min(550px, 95vw);
    max-width: 95%;
    height: min(320px, 60vh);
    box-shadow: 0 10px 24px rgba(0,0,0,0.16);
  }
  .cart-itemdetails{
    flex-basis: 80%;
    font-size-adjust: 0.4;
    padding-left: 1em;
  }
}

