@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Nanum+Myeongjo&display=swap');
.nanum-myeongjo-bold {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0;
  box-sizing: border-box;  
}
body {
  font-family: "Kumbh Sans", sans-serif;
  height: 100%;
}

.main{
  max-width: 1200px;
  margin: 0 auto;  
}
